In [6]:
def wish(a):
    print("good morning rakesh",a)
wish(a=10)

good morning rakesh 10

In [8]:
wish(20)

good morning rakesh 20

In [17]:
def wish(name,number):
    return("good morning",name,"your room no is",number)
wish("rakesh",20)

('good morning', 'rakesh', 'your room no is', 20)

In [23]:
def dinner(time):
    print("your dinner time is:",time)
dinner(9)
wish("rakesh",20)

your dinner time is: 9

('good morning', 'rakesh', 'your room no is', 20)

In [24]:
def squareit(num):
    print("square of number is:",num*num)
squareit(9)

square of number is: 81

In [25]:
def add(x,y):
    return x+y
add(5,6)

11

In [27]:
def f1():
    print("hello")
f1()

hello

In [30]:
def even_odd(num):
    if num%2==0:
        print("it is a even number")
    else:
        print("it is odd number")
even_odd(10)

it is a even number

In [31]:
def fact(num):
    result=1
    while num>=1:
        result=result*num
        num=num-1
    return result
fact(5)

120

In [32]:
def sum_sub(x,y):
    sum=x+y
    sub=x-y
    print(sum,sub)
sum_sub(10,20)

30 -10

In [33]:
def calc(x,y):
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add,sub,mul,div
t=calc(20,10)
print(t)
print(type(t))
l=list(t)
print(l)

(30, 10, 200, 2.0)
<class 'tuple'>
[30, 10, 200, 2.0]

PKDV

In [1]:
def func(a,b):   #formal arguments
    pass
func(10,20)     # actual arguments

In [2]:
def sub(a,b):
    return a-b     #positional arguments
sub(20,10)

10

In [3]:
sub(10,20)

-10

In [4]:
sub(1,2)

-1

In [5]:
sub(9,5)

4

In [6]:
def wish(name,age):
    print("my name is:",name,"age is:",age)
wish("rakesh",24)

my name is: rakesh age is: 24

In [1]:
def wish(name,age,qual="btech",msg="Good Morning"):
    print("Student name:",name)
    print("Student Marks:",age)
    print("qualification:",qual)
    print("message:",msg)
    
#wish("pawan",25)               #positional
#wish(age=26,name="Kumar")      #keyword
#wish("Puppala",age=27)         #p,k
wish("ram",age=34,qual="inter") #p,k,d

Student name: ram
Student Marks: 34
qualification: inter
message: Good Morning

In [4]:
def status(qual="btech"):
    print("he passed:",qual)
status(qual="degree")

he passed: degree

In [24]:
def sum(*n):
    total=0
    for i in n:
        total=total+i
    print(total)
sum()
sum(1,2)
sum(1,3,2)

0
3
6

In [25]:
def f1(n1,*s):
    print(n1)
    for s1 in s:
        print(s1)
f1(10)
f1(10,20,30,40)
f1(10,'A',20,'B')

10
10
20
30
40
10
A
20
B

In [26]:
def sum(*n,name):
    result=0
    for x in n:
        result=result+x
    print("the sum by",name,":",result)
sum(name="rakesh")
sum(10,20,name="kumar")

the sum by rakesh : 0
the sum by kumar : 30

In [31]:
def func(arg1,arg2,arg3=3,arg4=4):
    print(arg1,arg2,arg3,arg4)
func(10,20)
func(10,20,30,40)
func(50,60,arg3=70)
func(arg4=4,arg1=1,arg2=3)
#func()                         #TypeError: func() missing 2 required positional arguments: 'arg1' and 'arg2'
#func(arg3=300,arg4=400,30,40)  #SyntaxError: positional argument follows keyword argument
#func(4,5,arg2=6)               #TypeError: func() got multiple values for argument 'arg2'
#func(4,5,arg3=500,arg5=600)    #TypeError: func() got an unexpected keyword argument 'arg5'

10 20 3 4
10 20 30 40
50 60 70 4
1 3 3 4

In [1]:
a=10
def f1():
    print(a)
def f2():
    print(a)
f1()
f2()

10
10

In [5]:
def f3():
    b=12
    print(b)
def f4():
    print(b)
f3()
f4()

12

NameError: name 'b' is not defined

In [7]:
g=10
def f5():
    g=777
    print(g)
def f6():
    print(g)
f5()
f6()

777
10

In [8]:
g=20
def f7():
    global g
    g=888
    print(g)
def f8():
    print(g)
f7()
f8()

888
888

In [9]:
def f9():
    global l
    l=30
    print(l)
def f10():
    print(l)
f9()
f10()

30
30

In [10]:
a=100
def f1():
    a=777
    print("locasl variable:",a)
    print("global variable:",globals()["a"])
f1()

locasl variable: 777
global variable: 100

In [15]:
bank = "SBI"
ifsc = "SBIN00005366"
place = "Bhimavaram"
pincode = 534202
def customer1(credit):
    bal=10000
    total=bal+credit

    global branch
    branch="ADB"

    pincode=534201

    print("total amount in account:",total)
    print(place)
    print(ifsc)
    print("customer pincode:",pincode)
    print("bank pincode:",globals()["pincode"])

def customer2():
    print(total)
    print(branch)

In [17]:
customer1(20000)

total amount in account: 30000
Bhimavaram
SBIN00005366
customer pincode: 534201
bank pincode: 534202

In [18]:
def fact(num):
    result=1
    while num>=1:
        result=result*num
        num=num-1
    return result
fact(5)

120

In [19]:
def squareit(n):      #normal function
    return n*n
squareit(5)

25

In [21]:
# lambda function

s=lambda n:n*n
s(4)

16

In [22]:
k=lambda a,b:a+b
k(10,20)

30

In [23]:
a=10
b=20
if a>b:
    print(a)
else:
    print(b)

20

In [24]:
s=lambda a,b:a if a>b else b
s(10,20)

20

In [25]:
a,b=10,20
print(a) if a>b else print(b)

20

In [26]:
#map function

def multi(x):
    return 2*x

In [28]:
l=[1,2,3,4,5]
new=[]
for i in l:
    new.append(multi(i))
new

[2, 4, 6, 8, 10]

In [29]:
list(map(multi,l))

[2, 4, 6, 8, 10]

In [30]:
l=[1,2,3,4,6]
list(map(lambda x:2*x,l))

[2, 4, 6, 8, 12]

In [31]:
#converting lower case list into upper case list

l=["rakesh","kumar","yarlagaddda"]
k=[]

SyntaxError: unterminated string literal (detected at line 3) (1967722766.py, line 3)

In [1]:
#1. Write a Python function to find the maximum of three numbers.

def max_of_3(a,b,c):
    if a>b>c:
        print("a is maximum")
    elif b>c>a:
        print("b is maximum")
    else:
        print("c is maximum")
max_of_3(10,20,30)

c is maximum

In [5]:
def max_of_2(x,y):
    if x>y:
        return x
    return y
def max_of_3(x,y,z):
    return max_of_2(x,max_of_2(y,z))
print(max_of_3(3,6,-5))

6

In [13]:
#2. Write a Python function to sum all the numbers in a list.
#Sample List : (8, 2, 3, 0, 7)
#Expected Output : 20

def sum(numbers):
    total=0
    for x in numbers:
        total+=x
    return total
sum((8,2,3,0,7))

20

In [18]:
#3. Write a Python function to multiply all the numbers in a list.
#Sample List : (8, 2, 3, -1, 7)
#Expected Output : -336

def multiply(numbers):
    total=0
    for x in numbers:
        total*=x
    return total
multiply((8,2,3,-1,7))

0

In [23]:
#4. Write a Python program to reverse a string.
#Sample String : "1234abcd"
#Expected Output : "dcba4321"

def string_reverse(str1):
    rstr=''
    index=len(str1)
    while index>0:
        rstr+=str1[index -1]
        index=index-1
    return rstr
string_reverse(('1234abcd'))

'dcba4321'

In [3]:
#DECORATORS

def elaborate(add):
    def inner(a,b):
        print("first value:",a)
        print("second value:",b)
        print("addition of 2 values:",a+b)
    return inner
@elaborate
def add(a,b):
    print(a+b)
add(3,5)

first value: 3
second value: 5
addition of 2 values: 8

In [6]:
def assemble(car):
    def inner(part):
        print("power coating is done")
        print("car wiring is done")
        print("car dpprs are fixed")
        print("engine is installed")
        car(part)
    return inner    
@assemble
def car(part):
    print("car",part,"is ready")
car("chassis")

power coating is done
car wiring is done
car dpprs are fixed
engine is installed
car chassis is ready

In [3]:
def decor_name(func):
    def inner(name):
        if name=="rakesh":
            print("hello",name,"how are you?")
            print("you are aiuthorized person")
            print("you are allowed into string room")
        else:
            func(name)
    return inner
@decor_name
def wish(name):
    print("hi",name,"good morning")
wish("rakesh")

hello rakesh how are you?
you are aiuthorized person
you are allowed into string room