In [2]:
x=46
print(type(x))
y=23
print(type(y))
def func(p):
    return p+1
print(type(func))

<class 'int'>
<class 'int'>
<class 'function'>

In [3]:
import math
math.sqrt(25)
print(type(math))

<class 'module'>

In [4]:
class student:
    pass

In [5]:
class a:
    "rgdfghdfgegfhj"

In [6]:
print(a.__doc__)

rgdfghdfgegfhj

In [9]:
class latamflow:
    """latarflow contains trader details of the trader"""
    def __init__(self):
        self.name="pawan"
        self.age=25
        self.qual="btech"
    def details(self):
        print("hi",self.name)
        print("my age is",self.age)
        print("my qualification is:",self.qual)
l=latamflow()
l.details()

hi pawan
my age is 25
my qualification is: btech

In [10]:
class student:
    def __init__(self,x,y,z):
        self.name=x
        self.age=y
        self.qual=z
s1=student("pavan",25,"btech")
print(s1.name,s1.age,s1.qual)

s2=student("rakesh",30,"degree")
print(s2.name,s2.age,s2.qual)

pavan 25 btech
rakesh 30 degree

In [11]:
s=student()
s1=student()
s2=student()
s3=student()

TypeError: student.__init__() missing 3 required positional arguments: 'x', 'y', and 'z'

In [12]:
class student:
    def read(self):
        print("practicing python")
s=student()
s.read()

practicing python

In [13]:
class LatamFlow:
    """lataflow trader contains trade details of a trader"""
    def __init__(self,n,a,q):
        self.name=n
        self.age=a
        self.qual=q
        
    def details(self):
        print("hi ",self.name)
        print("my age is:",self.age)
        print("I'VE DONE MY",self.qual)
    
s = LatamFlow("pawan",24,"btech")
s.details()

hi  pawan
my age is: 24
I'VE DONE MY btech

In [ ]:
class student:
    def __init__(self,n,a,q):
        self.name=n
        self.age=a
        self.qual=q

In [14]:
class student:
    def __init__(self,m="",n=0):
        self.name=m
        self.marks=n
    def display(self):
        print("hi",self.name)
        print("marks",self.marks)
s1=student()
s1.display()

s2=student("rakesh",80)
s2.display()

hi
marks 0
hi rakesh
marks 80

In [15]:
class Student:
    def __init__(self,x,y,z):
        self.name=x
        self.age=y
        self.qual=z
        
    def talk(self):
        print("my name is",self.name)
        print("my age is",self.age)
        print("my qual is",self.qual)
        
s1=Student("pawan",25,"Mech")
s1.talk()

s2=Student("kumar",25,"CSE")
s2.talk()

my name is pawan
my age is 25
my qual is Mech
my name is kumar
my age is 25
my qual is CSE

In [16]:
class Test:
    def __init__(self):
        print("calling constructor")
    def details(self):
        print("calling method")
t1=Test()
t2=Test()
t3=Test()
t1.details()

calling constructor
calling constructor
calling constructor
calling method

In [20]:
class Constructor:
    def __init__(self):
        print("constructor execution")
        print(id(self))           # proof of self poining to current class object 
c=Constructor()
print(id(c))
c.__init__()                     ## calling constructor explicitly
c.__init__()

constructor execution
1884768319120
1884768319120
constructor execution
1884768319120
constructor execution
1884768319120

In [21]:
class Constructor:
    def __init__(self,x):
        print("construtor execution..",x)
        
c = Constructor(10)
c.__init__(100)

construtor execution.. 10
construtor execution.. 100

In [22]:
class Constructor:
    def __init__(self):
        print("no arg construtor execution..")
        
    def __init__(self,x):
        print("one-arg constructor execution..",x)
        
    def __init__(self,x,y):
        print("two-arg constructor execution..",x,y)
        
#c = Constructor()
#c = Constructor(10)
c = Constructor(10,20)

two-arg constructor execution.. 10 20

In [23]:
class Employee:
    def __init__(self,x,y,z):
        self.eid = x
        self.ename=y
        self.esal =z
    
    def emp_Details(self):
        #print("HI i am",self.ename,"my emp id is",self.eid,"my sal is",self.esal)
        #print("HI i am {} my emp id is {} my sal is {}".format(self.eid,self.ename,self.esal))
        print("HI i am {1} my emp id is {0} my sal is {2}".format(self.eid,self.ename,self.esal))   #foramttig of ouputs
        
e1 = Employee(25,"pawan",2600)
e1.emp_Details()

e2 = Employee(100125,"swamy",32000)
e2.emp_Details()

HI i am pawan my emp id is 25 my sal is 2600
HI i am swamy my emp id is 100125 my sal is 32000