In [3]:
x=input("Enter the value")
print(type(x))

Enter the value 10

<class 'str'>

In [4]:
x=input("enter the value")
print(type(x))

enter the value 10+5j

<class 'str'>

In [5]:
x=input("enter first number")
y=input("enter second number")
i=int(x)
j=int(y)
print("the sum:",i+j)

enter first number 20
enter second number 20

the sum: 40

In [10]:
eno=int(input("enter employee number.:"))
ename=input("enter employee name")
esal=float(input("enter employee salary:"))
estatus=bool(input("employee working or not?:"))

print("employee no:",eno)
print("employee name:",ename)
print("employee salary:",esal)
print("employee status:",   estatus)

enter employee number.: 3
enter employee name rakesh
enter employee salary: 20000
employee working or not?: True

employee no: 3
employee name: rakesh
employee salary: 20000.0
employee status: True

In [13]:
a,b=[int(x) for x in input("enter 2 numbers:").split()]
print("the product of 2 numbers:",a*b)

enter 2 numbers: 3 4

the product of 2 numbers: 12

In [16]:
a,b,c=[int(x) for x in input("enter 3 numbers:").split(',')]
print("the product of 2 numbers:",a*b*c)

enter 3 numbers: 2,3,4

the product of 2 numbers: 24

In [18]:
x=eval('10+4')
print(x)

14

In [20]:
y=eval("10/5+4*3")
print(y)

14.0

In [22]:
def fun_creator():
    expr=input("enter the function:")
    x=int(input("enter the value of x:"))
    y=eval(expr)
    print("value of y is:",y)
fun_creator()

enter the function: x*(x+1)*(x+2)
enter the value of x: 2

value of y is: 24

In [28]:
print("rakesh kumar")
print("rakesh\tkumar")
print("rakesh\nkumar")
print("rakesh kumar"*2)

rakesh kumar
rakesh	kumar
rakesh
kumar
rakesh kumarrakesh kumar

In [30]:
a,b,c=10,20,30
print("the values are:",a,b,c)
print("the values are:",a,b,c,sep=",")
print("the values are:",a,b,c,sep="?")

the values are: 10 20 30
the values are:,10,20,30
the values are:?10?20?30

In [33]:
print("rakesh",end='')
print("kumar",end='    ')
print("yarlagadda")

rakeshkumar    yarlagadda

In [36]:
a,b,c=10,20,30
print("a value is %i"%a)
print("b value is %i and c value is %i"%(b,c))

a value is 10
b value is 20 and c value is 30

In [38]:
r="rakesh"
k="rakesh kumar"
print("hi i am %s and full name is %s" %(r,k))

hi i am rakesh and full name is rakesh kumar

In [39]:
name=input("enter name: ")
age=int(input("enter your age: "))
salary=float(input("enter you salary: "))

print("Employee deatils are:")

enter name:  rakesh
enter your age:  24
enter you salary:  20000

Employee deatils are:

In [40]:
print("employee name is {0} and age is {1} and his salary is {2}".format(name,age,salary))

employee name is rakesh and age is 24 and his salary is 20000.0